// TODO: lightmode broken
// category=styles
// This is broken because of hardcoded colors in darkmode fix by using vuetify variables

 // TODO: Mobile styles are broken
 // category=styles
 // Add breakpoints to all elements to fix

$appbar-height: 48px
header
    .menuContainer
        margin-left: 2em
        .v-btn
            margin: 0 .5em 0 .5em
.v-navigation-drawer
    .v-btn
        height: 40px !important
        border-radius: 0
        margin-bottom: 0em !important
        width: 100%
.Vue-Toastification__toast--info
  background-color: #1e1e1e
  color: #fff
.stage
    display: none
.adaptiveText
    color: var(--v-text-base) !important
html
    overflow: auto !important
.theme--dark.v-application code
    background-color: rgb(30, 30, 30) !important
.stage
    overflow: hidden
    margin: 0px
    position: absolute
    right: 0
    top: 0
    height: 100%
    width: 100%

.height
    height: 100%
.lil-gui.root
    z-index: 0
.guicontainer
    z-index: 0
    position: absolute
    right: 0
.hide
    display: none
// .fhContainer
//     height: 100%
//     background: #121212
//     z-index: 1
//     position: relative
h1 + p
    font-size: 1.25rem
    font-weight: 300

// .container
//     max-width: unset !important
//     padding: 0 !important
//     margin: 0 !important
//     left: 0
//     top: -48px
//     position: absolute
// .v-app-bar
//     background: transparent !important
//     img
//         width: 2.25em
//         margin-top: 0.3em
// .v-footer
//     background: transparent !important
canvas
    position: absolute
    top: 0
.mainContainer
    position: absolute
    top: 0
    left: 0
    z-index: 1
    height: 100%
    width: 100%
    max-width: unset
.toasted-container.bottom-left
    left: 1% !important
    bottom: 2% !important
    font-family: "Roboto", sans-serif !important
.Vue-Toastification__toast
    margin-bottom: 1rm !important
    max-height: 30px !important
    min-height: 30px !important
.Vue-Toastification__toast-body
    margin-left: 2em
.Vue-Toastification__toast-body, .Vue-Toastification__close-button
    line-height: 0px !important
.Vue-Toastification__icon
    position: absolute
    top: 0
.Vue-Toastification__container div:first-of-type
    margin-bottom: 0 !important
// Rewrite STATS.JS
// html>body>div:last-of-type
//     bottom: 0 !important
//     top: unset !important
//     right: 0 !important
//     left: unset !important
.statsjs
    position: relative
    canvas
        margin-right: 1em
        display: inline !important
        position: relative
.lil-gui.root
    right: 0
.lil-gui.root.light
    font-family: var(--font-family)
    font-size: var(--font-size)
    line-height: 1
    font-weight: normal
    font-style: normal
    text-align: left
    background-color: var(--background-color)
    color: var(--text-color)
    user-select: none
    -webkit-user-select: none
    touch-action: manipulation
    --background-color: #e8e8e8
    --text-color: #1f1f1f
    --title-background-color: #e8e8e8
    --title-text-color: #000
    --widget-color: #f5f5f5
    --hover-color: #d3d3d3
    --focus-color: #d8d8d8
    --number-color: #2cc9ff
    --string-color: #a2db3c
    --font-size: 11px
    --input-font-size: 11px
    --font-family: -apple-system,BlinkMacSystemFont,"Lucida Grande","Segoe UI",Roboto,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    --font-family-mono: Menlo,Monaco,Consolas,"Droid Sans Mono",monospace,"Droid Sans Fallback"
    --padding: 4px
    --spacing: 4px
    --widget-height: 20px
    --name-width: 45%
    --slider-knob-width: 2px
    --slider-input-width: 27%
    --color-input-width: 27%
    --slider-input-min-width: 45px
    --color-input-min-width: 45px
    --folder-indent: 7px
    --widget-padding: 0 0 0 3px
    --widget-border-radius: 2px
    --checkbox-size: calc(.75*var(--widget-height))
    --scrollbar-width: 5px
.lil-gui.root
    font-family: var(--font-family)
    font-size: var(--font-size)
    line-height: 1
    font-weight: normal
    font-style: normal
    text-align: left
    background-color: var(--background-color)
    color: var(--text-color)
    user-select: none
    -webkit-user-select: none
    touch-action: manipulation
    --background-color: #1a1a1a
    --text-color: #bebebe
    --title-background-color: #1E1E1E
    --title-text-color: #e4e4e4
    --widget-color: #3b3b3b
    --hover-color: #3b3b3b
    --focus-color: #646464
    --number-color: #2cc9ff
    --string-color: #a2db3c
    --font-size: 11px
    --input-font-size: 11px
    --font-family: -apple-system,BlinkMacSystemFont,"Lucida Grande","Segoe UI",Roboto,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    --font-family-mono: Menlo,Monaco,Consolas,"Droid Sans Mono",monospace,"Droid Sans Fallback"
    --padding: 4px
    --spacing: 4px
    --widget-height: 20px
    --name-width: 45%
    --slider-knob-width: 2px
    --slider-input-width: 27%
    --color-input-width: 27%
    --slider-input-min-width: 45px
    --color-input-min-width: 45px
    --folder-indent: 7px
    --widget-padding: 0 0 0 3px
    --widget-border-radius: 2px
    --checkbox-size: calc(.75*var(--widget-height))
    --scrollbar-width: 5px

.gay // https://codepen.io/charliewilco/pen/BzAJzE LGBTQ.css
    --g-red: #d04b3673
    --g-orange: #e3651181
    --g-yellow: #ffbb007a
    --g-green: #00b17f7e
    --g-blue: #147bab70
    --g-indigo: #67599775
    background-image: linear-gradient( var(--g-red) 0%, var(--g-red) 16.6666%, var(--g-orange) 16.6666%, var(--g-orange) 33.333%, var(--g-yellow) 33.333%,var(--g-yellow) 50%,var(--g-green) 50%,var(--g-green) 66.6666%,var(--g-blue) 66.6666%,var(--g-blue) 83.3333%,var(--g-indigo) 83.3333%,var(--g-indigo) 100%)